/*
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/lora/sx126x.h>

/ {
	chosen {
		/delete-property/ zephyr,uart-mcumgr;
		/* uart1 is used by GPS. */
		/delete-property/ zephyr,bt-mon-uart;
		/delete-property/ zephyr,bt-c2h-uart;

		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	aliases {
		green-led = &green_led;
		blue-led = &blue_led;
		accel0 = &lis3dh;
		gps0 = &max7q;
		gnss = &gnss;
		lora0 = &lora;
	};

	vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc 3>;
		io-channel-names = "BATTERY";
		output-ohms = <1500000>;
		full-ohms = <(1000000 + 1500000)>;
	};
};

&uicr {
	nfct-pins-as-gpios;
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1_5";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>;
		zephyr,input-positive = <NRF_SAADC_AIN3>;
		zephyr,resolution = <14>;
		zephyr,oversampling = <8>;
	};
};

&i2c0 {
	/delete-property/ zephyr,pm-device-runtime-auto;
	status = "okay";

	/* ST Microelectronics LIS3DH motion sensor */
	lis3dh: lis3dh@18 {
		compatible = "st,lis3dh", "st,lis2dh";
		reg = <0x18>;
		irq-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		anym-on-int1;
	};
};

&uart1 {
	compatible = "nordic,nrf-uarte";
	current-speed = <9600>;
	status = "okay";

	max7q: max7q {
		compatible = "u-blox,max7q";
		enable-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	gnss: u_blox_max7q {
		compatible = "u-blox,nmea-max7q";
		enable-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;

&flash0 {
	partitions {
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00072000>;
		};
		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 0x00072000>;
		};
	};
};
